<p id="notice"><%= notice %></p>

<h1>Puppers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puppers.each do |pupper| %>
      <tr>
        <td><%= pupper.name %></td>
        <td><%= pupper.description %></td>
        <td><%= image_tag pupper.picture_url, width: '100%' if pupper.picture.present? %></td>
        <td><%= link_to 'Show', pupper %></td>
        <td><%= link_to 'Edit', edit_pupper_path(pupper) %></td>
        <td><%= link_to 'Destroy', pupper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pupper', new_pupper_path %>
