<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@pupper.picture_url, width: '100%') if @pupper.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @pupper.name %></p>
    <p><b>Description: </b><%= @pupper.description %></p>
    <p>
      <%= link_to 'Edit', edit_pupper_path(@pupper) %> |
      <%= link_to 'Destroy', @pupper, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', puppers_path %>
    </p>
  </div>
</div>